.typerText {
    font-size: 20px;
    background: #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s ease-in-out;
    font-style: italic;
}

.typerText:hover {
    transition: 1s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}

.css-typing {
    background: rgba(245, 245, 245, 0.68);
}

.css-typing p {
    border-right: .15em solid #ffffff;
    font-family: "Courier", serif;
    white-space: nowrap;
    overflow: hidden;
}

.css-typing p:nth-child(1) {
    padding-top: 15px;
    font-size: 20px;
    width: 27ch;
    -webkit-animation: type 2s steps(40, end);
    animation: type 4s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@media (max-width: 845px) {
    .css-typing p:nth-child(1) {
        font-size: 15px;
    }
}

@keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: .15em solid #000000;
    }
    100% {
        border: none;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: .15em solid #ffffff;
    }
    100% {
        border: none;
    }
}