.Services {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 10px;
}

.serviceCard {
    border: 1px solid;
    padding: 20px;
    height: 200px;
}

.serviceCardText {
    margin-top: 20px;
}

.ServicePriceInfo {
    text-align: justify;
}